<div class="navbar navbar-light bg-light">
  <h4 class="navbar-brand"><%= link_to "Wikinimous", articles_path %></h4>
  <button type="button" class="btn btn-light"><%= link_to "new article", new_article_path %></button>
</div>

<div class="container">
  <h2> Editing Article</h2>
  <%= render "form", article: @article %>
  <br>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item"> <%= link_to "Show", article_path(@article) %></li>
    <li class="list-group-item"> <%= link_to "Back", articles_path %></li>
  </ul>

</div>
