<div>
  <h1><%= link_to "Wikinimous", articles_path %></h1>
  <%= link_to "new article", new_article_path %>
</div>

<%= link_to "edit", edit_article_path %>
<%= link_to "delete", article_path(@article),method: :delete, data: { confirm: "Are you sure?" } %>


<h2> <%= @article.title%></h2>

<p><%= @article.content %> </p>
